/*总容器部分*/
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*header部分*/
.wrapper header {
    width: 100%;
    height: 12vw;
    background-color: #0097FF;
    color: white;
    font-size: 4.8vw;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*商家logo部分*/
.wrapper .business-logo {
    width: 100%;
    height: 35vw;

    padding-top: 12vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .business-logo img {
    width: 40vw;
    height: 30vw;
    border-radius: 5px;
}

/*商家信息*/
.wrapper .business-info {
    width: 100%;
    height: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .business-info h1 {
    font-size: 5vw;
}

.wrapper .business-info p {
    margin-top: 1vw;
    font-size: 3vw;
    color: #666;
}

/*食品列表部分*/
.wrapper .food {
    width: 100%;
    padding-bottom: 14vw;
}

.wrapper .food li {
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .food li .food-left {
    display: flex;
    align-items: center;

}

.wrapper .food li .food-left img {
    width: 20vw;
    height: 20vw;
}

.wrapper .food li .food-left .food-left-info {
    margin-left: 3vw;
}

.wrapper .food li .food-left .food-left-info h3 {
    font-size: 3.8vw;
    color: #555;

}

.wrapper .food li .food-left .food-left-info p {
    font-size: 3vw;
    color: #888;
    margin-top: 2vw;
}

.wrapper .food li .food-right {
    width: 16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .food li .food-right .fa-minus-circle {
    font-size: 5.5vw;
    color: #999;
    cursor: pointer;
}

.wrapper .food li .food-right p {
    font-size: 3.6vw;
    color: #333;
}

.wrapper .food li .food-right .fa-plus-circle {
    font-size: 5.5vw;
    color: #0097ef;
    cursor: pointer;
}

/*购物车部分*/
.wrapper .cart {
    width: 100%;
    height: 14vw;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
}

.wrapper .cart .cart-left {
    flex: 2;
    background-color: #505051;
}

.wrapper .cart .cart-left-icon {
    width: 14vw;
    height: 14vw;
    border-radius: 7vw;
    background-color: #0097FF;
    margin-top: -3vw;
    margin-left: 3vw;
    position: absolute;
}

.wrapper .cart .cart-left-icon i {
    color: white;
    font-size: 8vw;
    padding-top: 3vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper .cart .cart-left .cart-left-icon-quantity {
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    background-color: red;
    color: #fff;
    font-size: 3.6vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -1vw;
    top: -1vw;
}

.wrapper .cart .cart-left .cart-left-info p:first-child {
    font-size: 4.5vw;
    color: white;
    margin-top: 1vw;
    margin-left: 18vw;

}

.wrapper .cart .cart-left .cart-left-info p:last-child {
    font-size: 2.8vw;
    color: #AAA;
    margin-top: 0;
    margin-left: 18vw;
}

.wrapper .cart .cart-right {
    flex: 1;
    background-color: #38CA73;
}

/*达到起送费时的样式*/
.wrapper .cart .cart-right .cart-right-item {
    width: 100%;
    height: 100%;
    background-color: #38CA73;
    color: white;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*不够起送费*/
/*
.wrapper .cart .cart-right .cart-right-item{
    width: 100%;
    height: 100%;
    background-color: #535356;
    color: white;
    font-size:4.5vw;
    font-weight: 700;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
*/